#converter-div {
    width: 550px;
    height: 729px;
    color: teal;
    background-color: #F4F4F4;
    font-family: "Inter", serif;
    margin: 100px auto;
}

#input-div{
    width: 100%;
    height: 285px;
    color: white;
    background-color: #6943FF;
    text-align: center;
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* align-items: center; */
}

#title-h1 {
    font-size: 28px;
    margin: 10px 20px;
    padding: 20px 10px;
}

#input-box {
    display: block;
    width: 117px;
    height: 83px;
    border: 2px solid #AC90F6;
    background-color: #6943FF;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    margin: 10px auto 25px auto;
}

#input-box:focus {
    border: 2px solid #FFFFFF;
    outline: none;
}

#convert-btn {
    width: 117px;
    height: 42px;
    color: #3D3D3D;
    font-weight: bold;
    background-color: white;
    border: none;
    border-radius: 6px;
}

#result-div {
    background-color: #FFFFFF;
    text-align: center;
    padding: 10px 0px 10px 0px;
    margin: 25px 25px 25px 25px;
}

#result-div > h3 {
    color: #6E688B;
}

#result-div > p {
    color: #353535;
}