#converter-div {
    width: 550px;
    height: 729px;
    color: teal;
    background-color: #F4F4F4;
    font-family: "Inter", serif;
    margin: 100px auto;
}

#input-div{
    width: 100%;
    height: 285px;
    color: white;
    background-color: #6943FF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#title-h1 {
    width: 448px;
    height: 38px;
    font-size: 28px;
    margin: 0;
}

#input-box {
    width: 117px;
    height: 83px;
    border: 2px solid #AC90F6;
    background-color: #6943FF;
    color: white;
    border-radius: 10px;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
}

#convert-btn {
    width: 117px;
    height: 42px;
    color: black;
    background-color: white;
    border: none;
    border-radius: 6px;
}